<!DOCTYPE html>
<html>
<head>
  <title>Práctica de Verbos</title>
  <script src="/static/script.js" defer></script>
</head>
<body>
  <h1>Práctica de Verbos</h1>

  <div id="pregunta"></div>
  <input type="text" id="respuesta" placeholder="Tu respuesta aquí">
  <button onclick="verificar()">Verificar</button>
  <div id="resultado"></div>

  <hr>
  <h2>Agregar nuevo verbo</h2>
  <input type="text" id="nuevoPresente" placeholder="Presente">
  <input type="text" id="nuevoPasado" placeholder="Pasado">
  <input type="text" id="nuevaTraduccion" placeholder="Traducción">
  <button onclick="agregarVerbo()">Agregar Verbo</button>
  <div id="mensajeAgregar"></div>
</body>
</html>
